{% extends 'navbar.html' %}

{% block title %}
Inicio 
{% endblock title %}

{% block content %}
<h1 class="text-center" style="margin-top:50px">  
	<div style="color:#005faa">
EFICIENCIA ENERGÉTICA PARA LA AGRICULTURA E INDUSTRIA </h1>

<section id="nuestros_servicios" style="margin-top:100px;">
    <div class="container">
      <div class="row ">
          <div class="col-lg-12 text-center" >
             <h3 class="padding-bottom-serv"><span style="color:#bdc946">NUESTROS</span> <span style="color:#005faa">SERVICIOS</span></h3>
          </div> 
      </div>
        <div class="row justify-content-md-center" style="margin-top:50px;">
        <div class="col-sm-12 col-md-5">
            <div class="serviceBoxa">
                <img src="https://www.euromatic.cl/img/todo/serv/riego-goteo.jpg">
                <div class="service-content">
                    <h3 class="title">AUTOMATIZACIÓN Y ENERGÍA INDUSTRIAL</h3>
                    <p class="description">
                        Mejora el rendimiento de los procesos haciendo más con menos, para optimizar la mejor ventaja competitiva de productores de alimentos que como país poseemos.
                    </p>                    
                </div>
            </div>
        </div> 
        <div class="col-sm-12 col-md-5">
            <div class="serviceBoxa">
                <img src="https://www.euromatic.cl/img/todo/serv/control-de-accesos2.jpg">
                <div class="service-content">
                    <h3 class="title">CONTROL DE ACCESOS</h3>
                    <p class="description">
                        Ofrecemos variedad de soluciones en controles de accesos mediante dispositivos remotos, como por ejemplo el celular.  
                    </p>                   
                </div>
            </div>
        </div> 
        <div class="col-sm-12 col-md-5">
            <div class="serviceBoxa">
                <img src="https://www.euromatic.cl/img/todo/serv/auto-accesos.jpg">
                <div class="service-content">
                    <h3 class="title">AUTOMATIZACIÓN DE ACCESOS</h3>
                    <p class="description">
                        Instalación de sistemas de seguridad automáticos para entrada y salida de vehículos y personas, para empresas, condominios y particulares. 
                    </p>                   
                </div>
            </div>
        </div>  
        <div class="col-sm-12 col-md-5">
            <div class="serviceBoxa">
                <img src="https://www.euromatic.cl/img/todo/serv/analisis_energetico.jpg">
                <div class="service-content">
                    <h3 class="title">ANÁLISIS ENERGÉTICO</h3>
                    <p class="description">
                        Entregamos fórmulas para optimizar su cuenta energética, a través de análisis de tarifas eléctricas, mejoramiento de factores de potencia y análisis de registros de empresas.
                    </p>                  
                </div>
            </div>
        </div> 
        <div class="col-sm-12 col-md-5">
            <div class="serviceBoxa">
                <img src="https://www.euromatic.cl/img/todo/serv/energias_renovables.jpg">
                <div class="service-content">
                    <h3 class="title">ENERGÍAS RENOVABLES (ERNC) Y EFICIENCIA ENERGÉTICA</h3>
                    <p class="description">
                        Construimos o mejoramos proyectos de ERNC con los más altos estándares de calidad y con tecnología de avanzada y de clase mundial. Una de nuestras especialidades es la instalación de paneles térmicos para almacenamiento de agua caliente de uso sanitario. 
                    </p>                 
                </div>
            </div>
        </div>    
        </div>
    </div>
</section>

<section id="contacto" class="text-center"  style="color:#005faa">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p style="margin-top:150px;">Celular: <a href="+56998186000">+569 98186000</a> | Tel. Fijo: <a href="tel:">72 2711211</a></p>
        <p>Email: <a href="contacto.euromatic@gmail.com">contacto.euromatic@gmail.com</a> <a href="mailto:atguzman@euromatic.cl"></a></p>
        <p>Dirección: Bernardo O'Higgins 553, San Fernando, Región de O'Higgins</p>
      </div>
    </div>
  </div>
</section>


{% endblock content %}