{% extends 'navbar.html' %}

{% block title %}
Cotización
{% endblock title %}

{% block content %}

<h1> El nombre ingresado por el usuario fue: <h1>

  {{Nombre}}

<h1> El numero de contacto ingresado fue: <h1>

  {{Numero}}

<h1> El rut ingresado fue: <h1>

  {{rut}}

<h1> El email ingresado fue: <h1>

  {{email}}

<h1> La dirección ingresada fue: <h1>

  {{direccion}}

<h1> La región ingresada fue: <h1>

  {{region}}

<h1> El servicio solicitado fue: <h1>

  {{servicio}}

<h1> La descripcion de la solicitud fue: <h1>

  {{descripcion}}

{% endblock content %}